*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

h1 {
  text-align: center;
  color: #0c463e;
  font-size: 40px;
  font-weight: 800;
}

.fixed_after {
  min-height: 1px;
  margin-bottom: 135px;
}

.article-list,
.review {
  background-color: #FFF;
  border: solid 1px rgba(160, 160, 160, 0.3);
  padding-left: 30px;
  margin-bottom: 20px;
  height: 360px;
  overflow: auto;
}

.all-articles {
  border: 1px solid rgba(160, 160, 160, 0.3);
  text-align: center;
  padding: 15px 0;
  margin-bottom: 20px;
}

.all-articles a {
  text-decoration: none;
  color: inherit;
  font-size: 1.1em;
  letter-spacing: 0.04em;
  font-weight: 800;
}

.all-articles:hover {
  background-color: #0c463e;
  color: #fff;
}

.attention-info {
  border: solid 1px rgba(160, 160, 160, 0.3);
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 1px 12px yellow;
}

.attention-info i {
  float: right;
}

.attention-info #countdown {
  font-size: 2em;
  text-align: center;
}

.attention-info span.info {
  font-size: 1.2em;
  font-weight: bold;
}

.advantages {
  min-height: 600px;
  background-image: url(../img/advantages2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-color: #fff;
  margin-bottom: 20px;
  border: solid 1px rgba(160, 160, 160, 0.3);
  letter-spacing: 1px;
}

.advantages h1 {
  text-transform: uppercase;
}

.advantages h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.9em;
  color: rgba(25, 32, 41, 0.85);
}

.advantages h2:first-letter {
  font-size: 1.1em;
  font-weight: bold;
  color: #0c463e;
}

.advantages .adw-box {
  text-align: center;
  color: #0c463e;
  padding: 40px 0;
  font-weight: bold;
  font-size: 1.1em;
}

.advantages .adw-box i {
  font-size: 4em;
}

.guarantees {
  min-height: 580px;
  border: solid 1px rgba(160, 160, 160, 0.3);
  background-color: #F8FFF8;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.guarantees .guarnt-box {
  text-align: center;
  color: #0c463e;
  padding: 40px 0;
  font-weight: bold;
  font-size: 1.1em;
}

.guarantees .guarnt-box i {
  font-size: 4em;
}

.main-info {
  min-height: 1190px;
  border: solid 1px rgba(160, 160, 160, 0.3);
  background-color: #FFF;
  padding: 20px;
  margin-bottom: 20px;
}

.main-info h1 {
  text-transform: uppercase;
}

.main-info p {
  text-indent: 30px;
}

.main-info h2 {
  text-indent: 30px;
}

.main-info i {
  margin-right: 15px;
}

.review {
  height: 230px;
}

.review h2 {
  color: #0c463e;
}

.review .review-link {
  color: #2ebaae;
}

.view-more {
  border: 1px solid rgba(160, 160, 160, 0.3);
  text-align: center;
  padding: 15px 0;
  margin-bottom: 20px;
}

.view-more a {
  text-decoration: none;
  color: inherit;
  font-size: 1.1em;
  letter-spacing: 0.04em;
  font-weight: 800;
}

.view-more:hover {
  background-color: #0c463e;
  color: #fff;
}

.main-contact-info {
  color: #0c463e;
  margin-bottom: 20px;
}

.main-contact-info .map-box {
  margin: 10px 0;
  font-size: 1.4em;
}

.main-contact-info .all-contacts {
  list-style-type: none;
  margin-top: 50px;
}

.main-contact-info .all-contacts li {
  position: relative;
  margin: 20px 0;
  font-size: 1.5em;
  font-weight: bold;
}

.main-contact-info .form-box {
  padding: 10px;
  background-color: #F8FFF8;
  margin-top: 25px;
}

.main-contact-info .form-box .form-title {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}

.main-contact-info .form-box .ask-form {
  margin-top: 20px;
}

.main-contact-info .form-box .ask-form label {
  color: #6d7781;
}

.main-contact-info .form-box .ask-form input,
.main-contact-info .form-box .ask-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0 15px;
  border: none;
  font-size: 1.2em;
  color: #444;
  background-color: #f4f4f4;
}

.main-contact-info .form-box .ask-form input:focus,
.main-contact-info .form-box .ask-form textarea:focus {
  border-bottom: 3px solid #8e8e8e;
  border-radius: 3px;
}

.main-contact-info .form-box .ask-form input[type=submit] {
  background-color: #0c463e;
  color: #fff;
}

.main-contact-info .form-box .ask-form input[type=submit]:hover {
  transition: all 0.3s ease;
  transform: scale(1.03);
}

.all-reviews {
  background-color: #fff;
  padding: 20px;
  margin: 10px 0 20px 0;
}

.all-reviews .bottom-line {
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
}

.all-reviews .send-review-form {
  font-style: italic;
}

.all-reviews .send-review-form input {
  width: 100%;
  padding: 9px;
  margin: 0 0 20px 0;
  font-size: 0.9em;
}

.all-reviews .send-review-form input:focus {
  outline: #0c463e auto 5px;
}

.all-reviews .send-review-form input[type=submit] {
  font-style: normal;
  padding: 9px 0;
  color: #fff;
  background-color: #0c463e;
  border: none;
}

.all-reviews .send-review-form textarea {
  resize: none;
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
  padding: 10px;
}

.all-reviews .send-review-form textarea:focus {
  outline: #0c463e auto 5px;
}

.all-reviews .review-item {
  background-color: #f2f2f2;
  height: auto;
  margin: 10px 0;
  padding: 20px;
  font-size: 0.8em;
  font-style: italic;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.6);
}

.all-reviews .review-item .review-link {
  padding-top: 5px;
}

.all-reviews .review-item .review-name {
  font-size: 1.2em;
  font-weight: bold;
}

.articles-content {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  text-align: left;
  margin-top: 10px;
}

.articles-content form span {
  font-size: 1.3em;
  line-height: 1.9;
}

.articles-content form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
}

.articles-content form .search-btn {
  width: 100%;
  margin-bottom: 20px;
  padding: 6px;
  background-color: #0c463e;
  color: #fff;
  border: 1px solid #0c463e;
}

.articles-content .article-item {
  min-height: 130px;
  background-color: #FFF;
  padding: 1px 15px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 4px 0.2px rgba(0, 0, 0, 0.75);
  margin-left: 15px;
  margin-right: 15px;
}

.articles-content .article-item .txt-right {
  text-align: right;
  height: 130px;
  line-height: 130px;
}

.articles-content .article-item .txt-right .read-article {
  font-size: 1.2em;
}

footer {
  background-color: #192029;
  color: #fff;
  min-height: 180px;
  text-align: center;
}

footer h3 {
  text-decoration: underline;
}

footer a {
  text-decoration: none;
  color: #2ebaae;
}

footer a:hover,
footer a:focus {
  text-decoration: none;
  color: #228980;
}

footer span {
  margin-top: 10px;
  margin-right: 10px;
}

footer span a {
  color: #fff;
  font-size: 1.5em;
}

footer .go-up {
  font-size: 1.1em;
  text-decoration: none;
  color: #fff;
}

footer .go-up:hover {
  text-decoration: none;
  color: #fff;
}

footer .go-up i {
  font-size: 3em;
}

footer .go-up i:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}

#form,
#partnershipForm {
  padding: 20px;
  background-color: #FFF;
  max-width: 360px;
  margin: auto;
  border: 1px solid rgba(160, 160, 160, 0.3);
  position: relative;
}

#form label,
#partnershipForm label {
  text-decoration: underline;
}

#form input,
#form textarea,
#partnershipForm input,
#partnershipForm textarea {
  color: black;
  width: 100%;
  margin-bottom: 12%;
  margin-top: 3%;
  padding: 10px 5px;
}

#form input:focus,
#form textarea:focus,
#partnershipForm input:focus,
#partnershipForm textarea:focus {
  outline: 1px solid #29AEE3;
}

#form textarea,
#partnershipForm textarea {
  max-width: 100%;
}

#form .submit,
#partnershipForm .submit {
  width: 100%;
  border: none;
  background-color: #0c463e;
  color: #fff;
  height: 50px;
}

#popup__toggle:focus {
  outline: none !important;
}

.vacancy-content {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin-bottom: 20px;
}

.vacancy-content form {
  text-align: left;
  margin-bottom: 20px;
}

.vacancy-content form fieldset {
  background-color: #FFF;
  padding: 10px 15px;
  padding-right: 45px;
}

.vacancy-content form fieldset legend {
  font-size: 1.2em;
  font-weight: bold;
  color: #0c463e;
}

.vacancy-content form fieldset .option-item select {
  margin: 15px;
  width: 100%;
}

.vacancy-content form fieldset .option-item input {
  padding: 15px;
}

.vacancy-content form fieldset .checkbox-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.vacancy-content form fieldset .checkbox-item input {
  margin: 13px;
  margin-top: 19px;
}

.vacancy-content form fieldset .checkbox-item select {
  width: 9em;
}

.vacancy-content form fieldset .lang-item {
  margin-bottom: 20px;
}

.vacancy-content form fieldset button {
  margin: 10px 15px;
  padding: 5px;
  color: #fff;
  background-color: #0c463e;
  border: 1px solid #0c463e;
}

.vacancy-content form fieldset button:hover {
  transition: all .3s ease;
  transform: scale(1.03);
}

.vacancy-content .vacancy-item {
  background-color: #FFF;
  border: 1px solid #c0c0c0;
  margin-bottom: 20px;
  padding: 25px;
  padding-top: 5px;
}

.vacancy-content .vacancy-item .vacancy-text {
  margin: 10px 0;
}

.vacancy-content .vacancy-item .readmore-js-toggle {
  margin-bottom: 10px;
}

.vacancy-content .vacancy-item button {
  color: #fff;
  background-color: #0c463e;
  border: 1px solid #0c463e;
  width: 100%;
  padding: 5px 0;
}

.vacancy-content .vacancy-item button:hover {
  transition: all .3s ease;
  transform: scale(1.03);
}

.single-article-content {
  margin-bottom: 20px;
}

.single-article-content article {
  background-color: #FFF;
  border: 1px solid #c0c0c0;
  padding: 0 20px 20px;
}

.single-article-content article img {
  max-width: 40%;
  max-height: 40%;
  margin: 5px 20px 10px 0;
}

.single-article-content article .leftimg {
  float: left;
}

.single-article-content article .rightimg {
  float: right;
}

.services {
  text-align: center;
}

.services h1 {
  text-shadow: rgba(3, 3, 3, 0.51) -1px 2px 2px;
}

.services .service-item {
  position: relative;
  background-color: #FFF;
  border: 2px solid #c0c0c0;
  margin-bottom: 20px;
  padding: 0 20px;
}

.services .service-item h2 {
  font-size: 1.6em;
  color: #0c463e;
  text-shadow: rgba(3, 3, 3, 0.51) -1px 4px 4px;
}

.services .service-item h4 {
  font-size: 1.1em;
}

.services .service-item img {
  display: block;
  margin: 0 auto;
}

.services .service-item p {
  font-weight: bold;
  margin-left: 20px;
  text-align: left;
  color: #444;
  font-size: 1.3em;
  text-shadow: rgba(3, 3, 3, 0.25) -1px 4px 4px;
}

.services .service-item button {
  vertical-align: bottom;
  color: #fff;
  background-color: #0c463e;
  border: 1px solid #0c463e;
  width: 100%;
  padding: 5px 0;
  margin-bottom: 20px;
  font-size: 1.3em;
}

.services .service-item button:hover {
  transition: all .3s ease;
  transform: scale(1.03);
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1300px) {
  .phone-box {
    display: none;
  }

  header ul.dropdown {
    float: right;
  }

  header ul.dropdown li.dropdown-top {
    margin: 0 30px 0 20px;
  }
}

@media only screen and (max-width: 1200px) {
  /**/

  header ul.dropdown li.dropdown-top {
    margin: 0 10px 0 18px;
  }

  .article-list,
  .review,
  .view-more {
    display: none;
  }
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
  /**/

  header ul.dropdown {
    background-color: rgba(245, 245, 245, 0.9);
    display: none;
    position: absolute;
    top: 105px;
    width: 100%;
  }

  header ul.dropdown li.dropdown-top {
    float: none;
    text-align: center;
  }

  header ul.dropdown li.dropdown-top:hover .dropdown-inside {
    position: relative;
    font-size: 0.9em;
    display: block;
    left: 70px;
    bottom: 30px;
    background-color: transparent;
  }

  header ul.dropdown li.dropdown-top:hover .dropdown-inside a:hover {
    color: #0c463e;
    text-decoration: none;
    border-right: 1px solid rgba(160, 160, 160, 0.3);
    transition: all 0.3s ease;
    transform: scale(0.95);
  }

  header .main-menu-button {
    display: block;
  }

  header .main-menu-button:focus {
    outline: none;
  }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }

  .attention-info #countdown {
    font-size: 1.5em;
  }

  .advantages h2 {
    font-size: 1.4em;
  }

  /*Disable Animation on Mobile Devices*/

  .animated {
    /*CSS transitions*/
    transition-property: none !important;
    /*CSS transforms*/
    transform: none !important;
    /*CSS animations*/
    animation: none !important;
  }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
  /**/

  header img {
    padding-left: 10px;
    padding-right: 0;
  }

  h1 {
    font-size: 1.3em;
  }

  h2 {
    font-size: 1.2em;
  }

  .attention-info #countdown {
    font-size: 1.3em;
  }

  .attention-info span.info {
    font-size: 1em;
    font-weight: bold;
  }

  .advantages h2 {
    font-size: 1.2em;
  }
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
  /**/

  header img {
    padding-left: 0;
  }

  header .main-menu-button {
    position: relative;
    right: 15px;
  }

  .attention-info #countdown {
    font-size: 1.1em;
  }
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
  /**/

  ul.dropdown {
    display: block !important;
  }
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
  /**/

  ul.dropdown {
    display: block !important;
  }
}