

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1300px)
	.phone-box
		display: none
	header
		ul.dropdown
			float: right
			li.dropdown-top
				margin: 0 30px 0 20px

@media only screen and (max-width : 1200px)
	/**/
	header
		ul.dropdown
			li.dropdown-top
				margin: 0 10px 0 18px
	.article-list, .review, .view-more
		display: none

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	header
		ul.dropdown
			background-color: rgba(245, 245, 245, 0.9)
			display: none
			position: absolute
			top: 105px
			width: 100%
			li.dropdown-top
				float: none
				text-align: center
				&:hover
					.dropdown-inside
						position: relative
						font-size: 0.9em
						display: block
						left: 70px
						bottom: 30px
						background-color: transparent
						a:hover  
							color: rgb(12, 70, 62)
							text-decoration: none
							border-right: 1px solid rgba(160, 160, 160, 0.3)
							transition: all 0.3s ease
							transform: scale(0.95)

		.main-menu-button
			display: block 
			&:focus
				outline: none

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)

	h1
		font-size: 1.5em
	.attention-info
		#countdown
			font-size: 1.5em
	.advantages
		h2
			font-size: 1.4em
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	header
		img
			padding-left: 10px
			padding-right: 0

	h1
		font-size: 1.3em
	h2
		font-size: 1.2em

	.attention-info
		#countdown
			font-size: 1.3em
		span.info
			font-size: 1em
			font-weight: bold
	.advantages
		h2
			font-size: 1.2em

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
	header
		img
			padding-left: 0
		.main-menu-button
			position: relative
			right: 15px

	.attention-info
		#countdown
			font-size: 1.1em

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/
	ul.dropdown
		display: block!important

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
	ul.dropdown
		display: block!important

