

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here
//Main page
h1
	text-align: center
	color: #0c463e
	font-size: 40px
	font-weight: 800

.fixed_after
	min-height: 1px
	margin-bottom: 135px

.article-list, .review
	background-color: #FFF
	border: solid 1px rgba(160, 160, 160, 0.3)
	padding-left: 30px
	margin-bottom: 20px
	height: 360px
	overflow: auto

.all-articles
	border: 1px solid rgba(160, 160, 160, 0.3)
	text-align: center
	padding: 15px 0
	margin-bottom: 20px
	a
		text-decoration: none
		color: inherit
		font-size: 1.1em
		letter-spacing: 0.04em
		font-weight: 800
	&:hover
		background-color: #0c463e
		color: #fff

.attention-info
	background: url("../img/1_bg.jpg")no-repeat 0 50%
	background-size: cover
	border: solid 1px rgba(160, 160, 160, 0.3)
	padding: 15px
	margin-bottom: 20px
	text-align: center
	text-shadow: 2px 1px 12px rgba(255, 255, 0, 1)
	i
		float: right
	#countdown
		font-size: 2em
		text-align: center
	span.info
		font-size: 1.2em
		font-weight: bold

.advantages
	min-height: 600px
	background-image: url(../img/advantages2.png)
	background-position: center center
	background-repeat: no-repeat
	background-attachment: fixed
	background-size: contain
	background-color: #fff
	margin-bottom: 20px
	border: solid 1px rgba(160, 160, 160, 0.3)
	letter-spacing: 1px
	h1
		text-transform: uppercase
	h2
		text-transform: uppercase
		text-align: center
		font-size: 1.9em
		color: rgba(25, 32, 41, 0.85)
		&:first-letter
			font-size: 1.1em
			font-weight: bold
			color: #0c463e
	.adw-box
		text-align: center
		color: #0c463e
		padding: 40px 0
		font-weight: bold
		font-size: 1.1em
		i 
			font-size: 4em
		
.guarantees
	min-height: 580px
	border: solid 1px rgba(160, 160, 160, 0.3)
	background-color: #F8FFF8
	margin-bottom: 20px
	padding: 10px 20px
	.guarnt-box
		text-align: center
		color: #0c463e
		padding: 40px 0
		font-weight: bold
		font-size: 1.1em
		i 
			font-size: 4em


.main-info
	min-height: 1190px
	border: solid 1px rgba(160, 160, 160, 0.3)
	background-color: #FFF
	padding: 20px
	margin-bottom: 20px
	h1
		text-transform: uppercase
	p 
		text-indent: 30px
	h2
		text-indent: 30px
	i 
		margin-right: 15px

.review
	height: 230px
	h2
		color: #0c463e
	.review-link
		color: #2ebaae

.view-more
	border: 1px solid rgba(160, 160, 160, 0.3)
	text-align: center
	padding: 15px 0
	margin-bottom: 20px
	a
		text-decoration: none
		color: inherit
		font-size: 1.1em
		letter-spacing: 0.04em
		font-weight: 800
	&:hover
		background-color: #0c463e
		color: #fff
   	 	
//from contacts
.main-contact-info
	color: #0c463e
	margin-bottom: 20px
	.map-box
		margin: 10px 0
		font-size: 1.4em
	.all-contacts
		list-style-type: none
		margin-top: 50px
		li 
			position: relative
			margin: 20px 0
			font-size: 1.5em
			font-weight: bold
	.form-box
		padding: 10px
		background-color: #F8FFF8
		margin-top: 25px
		.form-title
			text-align: center
			font-size: 1.4em
			font-weight: bold
		.ask-form
			margin-top: 20px
			label 
				color: #6d7781
			input, textarea
				width: 100%
				padding: 10px
				margin: 10px 0 15px
				border: none
				font-size: 1.2em
				color: #444
				background-color: #f4f4f4
				&:focus
					border-bottom: 3px solid darken(#f4f4f4, 40%)
					border-radius: 3px
			input[type=submit]
				background-color: #0c463e
				color: #fff
				&:hover
					transition: all 0.3s ease
					transform: scale(1.03)

//from reviews
.all-reviews
	background-color: #fff
	padding: 20px
	margin: 10px 0 20px 0
	.bottom-line
		border-bottom: 2px solid #ddd
		margin-bottom: 20px
	.send-review-form
		font-style: italic
		input
			width: 100%
			padding: 9px
			margin: 0 0 20px 0
			font-size: 0.9em
			&:focus
				outline: #0c463e auto 5px
		input[type=submit]
			font-style: normal
			padding: 9px 0
			color: #fff
			background-color: #0c463e
			border: none
		textarea
			resize: none
			width: 100%
			height: 100%
			margin-bottom: 15px
			padding: 10px
			&:focus
				outline: #0c463e auto 5px
	.review-item
    	background-color: #f2f2f2
    	height: auto
    	margin: 10px 0
    	padding: 20px
    	font-size: 0.8em
    	font-style: italic
    	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.6)
    	.review-link
    		padding-top: 5px
    	.review-name
    		font-size: 1.2em
    		font-weight: bold

//from articles
//.content     <--------------Було
.articles-content // <-------Має бути

	flex: 1 0 auto
	text-align: left
	margin-top: 10px
	form
		span 
			font-size: 1.3em
			line-height: 1.9
		input
			width: 100%
			margin-bottom: 20px
			padding: 5px
		.search-btn
			width: 100%	
			margin-bottom: 20px
			padding: 6px
			background-color: #0c463e
			color: #fff
			border: 1px solid #0c463e
	.article-item
		min-height: 130px
		background-color: #FFF
		padding: 1px 15px
		margin-bottom: 20px
		box-shadow: 1px 1px 4px 0.2px rgba(0,0,0,0.75)
		margin-left: 15px
		margin-right: 15px
		.txt-right
			text-align: right
			height: 130px
			line-height: 130px
			.read-article
				font-size: 1.2em

//footer, logichno odnako
footer
	background-color: rgb(25, 32, 41)
	color: #fff
	min-height: 180px
	text-align: center
	h3
		text-decoration: underline
	a 
		text-decoration: none
		color: #2ebaae
		&:hover, &:focus
			text-decoration: none
			color: darken(#2ebaae, 12%)
	span
		margin-top: 10px
		margin-right: 10px
		a
			color: #fff 
			font-size: 1.5em
	.go-up 
		font-size: 1.1em
		text-decoration: none
		color: #fff
		&:hover
			text-decoration: none
			color: #fff
		i 
			font-size: 3em
			&:hover
				transition: all 0.3s ease
				transform: scale(1.1)

//hidden forms
#form, #partnershipForm
	padding: 20px
	background-color: #FFF
	max-width: 360px
	margin: auto
	border: 1px solid rgba(160, 160, 160, 0.3)
	position: relative
	label
		text-decoration: underline
	input, textarea
		color: black
		width: 100%
		margin-bottom: 12%
		margin-top: 3%
		padding: 10px 5px
		&:focus
			outline: 1px solid #29AEE3
	textarea
		max-width: 100%
	.submit
		width: 100%
		border: none
		background-color: #0c463e
		color: #fff
		height: 50px

#popup__toggle:focus
	outline: none !important

//vacancy styles
.vacancy-content
	flex: 1 0 auto
	margin-bottom: 20px
	form
		text-align: left
		margin-bottom: 20px
		fieldset
			background-color: #FFF
			padding: 10px 15px
			padding-right: 45px
			legend 
				font-size: 1.2em
				font-weight: bold
				color: #0c463e
			.option-item
				select 
					margin: 15px
					width: 100%
				input
					padding: 15px
			.checkbox-item
				padding-top: 10px
				padding-bottom: 10px
				input
					margin: 13px
					margin-top: 19px
				select
					width: 9em
			.lang-item
				margin-bottom: 20px
			button
				margin: 10px 15px
				padding: 5px
				color: #fff
				background-color: #0c463e
				border: 1px solid #0c463e
				&:hover
					transition: all .3s ease
					transform: scale(1.03)
	.vacancy-item
		background-color: #FFF
		border: 1px solid #c0c0c0
		margin-bottom: 20px
		padding: 25px
		padding-top: 5px
		.vacancy-text
			margin: 10px 0
		.readmore-js-toggle
			margin-bottom: 10px
		button
			color: #fff
			background-color: #0c463e
			border: 1px solid #0c463e
			width: 100%
			padding: 5px 0
			&:hover
				transition: all .3s ease
				transform: scale(1.03)

//single-article styles
.single-article-content
	margin-bottom: 20px
	article 
		background-color: #FFF
		border: 1px solid #c0c0c0
		padding: 0 20px 20px
		img
			max-width: 40%
			max-height: 40%
			margin: 5px 20px 10px 0
		.leftimg
			float: left
		.rightimg
			float: right


//services styles
.services
	text-align: center
	h1
		text-shadow: rgba(3,3,3,0.51) -1px 2px 2px
	.service-item
		h2
			font-size: 1.6em
			color: #0c463e
			text-shadow: rgba(3,3,3,0.51) -1px 4px 4px
		h4
			font-size: 1.1em
		position: relative
		background-color: #FFF
		border: 2px solid #c0c0c0
		margin-bottom: 20px
		padding: 0 20px
		img
			display: block
			margin: 0 auto
		p
			font-weight: bold
			margin-left: 20px
			text-align: left
			color: #444
			font-size: 1.3em
			text-shadow: rgba(3,3,3,0.25) -1px 4px 4px
		button
			vertical-align: bottom
			color: #fff
			background-color: #0c463e
			border: 1px solid #0c463e
			width: 100%
			padding: 5px 0
			margin-bottom: 20px
			font-size: 1.3em
			&:hover
				transition: all .3s ease
				transform: scale(1.03)


//ALWAYS END
@import "media"